@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.App {
  width: 100%;
  height: 100vh;
}

/* --------------------- Header ------------------------- */

.header {
  background-color: #363B21;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 8;
}

.logo {
  margin: 10px;
  font-family: 'Work Sans', sans-serif;
  font-size: 36pt;
  font-weight: bold;
  color: white;
  justify-content: flex-start;
  margin-left: 30px;
}

a {
  text-decoration: none;
}

.logout-button,
.login-button {
  height: 35px;
  margin-right: 40px;
  background-color: #B37266;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 14pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  justify-content: center;
}

.logged-in {
  display: flex;
  align-items: center;
}

.welcome {
  color: white;
  margin: 0;
  margin-right: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 12pt;
}

/* --------------------- Home Page ---------------------- */

.description-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #F3F0E9;
  align-items: center;
}

.description {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 150px;
}

.description-title {
  position: relative;
  z-index: 6;
  font-family: 'Work Sans', sans-serif;
  font-size: 80pt;
  font-weight: bold;
  color: #020100;
  margin: 0;
  margin-left: 50px;
}

.description-tagline {
  position: relative;
  z-index: 6;
  font-family: 'Work Sans', sans-serif;
  font-size: 35pt;
  font-weight: bold;
  color: #020100;
  text-align: end;
  margin-left: 60px;
}

.bitplant {
  max-width: 350px;
  margin-left: 90px;
  top: -7%;
  position: relative;
  z-index: 4;
}

/* --------------------- Auth Form ---------------------- */

.auth-container {
  background-color: #87221E;
  height: 100vh;
  display: flex;
  align-items: center;
}

.auth-form {
  position: relative;
  z-index: 8;
  right: 60%;
  top: -8%;
  min-width: 600px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBF7D6;
  border-radius: 4px;
}

.auth-oval-leaf {
  position: relative;
  z-index: 6;
  right: 9%;
  top: -20%;
  transform: rotate(55deg);
  max-width: 420px;
}

.auth-dark-leaf {
  position: relative;
  z-index: 4;
  right: 42%;
  top: 8%;
  width: 300px;
}

.auth-circle-leaf {
  position: relative;
  z-index: 6;
  right: 94%;
  top: 18%;
}

.auth-star-leaf {
  position: relative;
  z-index: 2;
  right: 60%;
  top: -50%;
  transform: rotate(-15deg)
}

.auth-heart-leaf {
  position: relative;
  z-index: 2;
  right: 52%;
  top: 15%;
  transform: rotate(-100deg);
  width: 300px;
}

.auth-form-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 32pt;
  font-weight: bold;
  margin: 2px auto;
  margin-bottom: 22px;
}

.auth-register {
  font-family: 'Work Sans', sans-serif;
  font-size: 13pt;
  margin-top: 20px;
}

.auth-form-field {
  width: 320px;
  margin: 10px auto;
  background-color: #FBF7D6;
  border: none;
  border-bottom: 1px solid black;
  font-family: 'Work Sans', sans-serif;
  font-size: 16pt;
}

::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 16pt;
}

.auth-form-submit-button {
  background-color: #B37266;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 14pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 20px 8px 20px;
  margin-top: 20px;
}

/* -------------------- Plants ------------------- */
.dash {
  display: block;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.no-dash {
  display: none;
}

.dashboard {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 28pt;
  color: #0a6334;
  margin-top: 30px;
  margin-bottom: 10px;
}

.dashboard-img {
  width: 500px;
  margin: 30px auto;
}

.plant-parent-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plants-link {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 28pt;
  color: #020100;
  margin: 40px auto;
  text-decoration-line: underline;
}

.plant-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plants {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.no-plants {
  font-family: 'Work Sans', sans-serif;
  font-size: 14pt;
  color: #c85c50;
}

.plant-name {
  font-family: 'Work Sans', sans-serif;
  font-size: 14pt;
  color: #363A21;
}

.plant-info {
  max-width: 250px;
  height: 100%;
  background-color: #d9ffda;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #0a6334;
  margin: 20px;
  padding: 0px;
}

.plant-image {
  max-height: 300px;
  max-width: 250px;
}

.hide {
  display: none;
}

p {
  font-size: 14px;
}

.add-plant-button {
  background-color: #B37266;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 14pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 20px 8px 20px;
  margin: 20px;
}

.add-plant-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #B37266;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 14pt;
}

.plant-form-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin: 10px;
}

.plant-form-input {
  margin-bottom: 10px;
  width: 450px;
  height: 25px;
  font-size: 14pt;
}

.add-plant-submit,
.update-plant-submit {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 14pt;
  border: none;
  border-radius: 10px;
  padding: 8px 20px 8px 20px;
  margin-top: 5px;
}

.plant-details {
  width: 657px;
  border: 1px solid black;
  display: flex;
}

.plant-description {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  padding: 15px;
}

#plant-name {
  font-weight: bold;
  font-size: 24pt;
  margin-top: 8px;
  margin-bottom: 10px;
  color: #0a6334
}

.plant-detail {
  font-size: 12pt;
}

.detail-bold {
  font-size: 12pt;
  font-weight: bold;
}

.update-button,
.delete-button {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
  margin-top: 20px;
  opacity: 0.95;
}

.update-button {
  background-color: #0a6334;
  width: 200px;
  height: 30px;
}

.update-button:hover {
  opacity: 1;
}

.delete-button:hover {
  opacity: 1;
}

.delete-button {
  background-color: #87221E;
  width: 200px;
  height: 30px;
  margin-top: 15px;
}

.plant-update-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #B37266;
  margin-top: 20px;
  border-radius: 4px;
}

.delete {
  display: flex;
  justify-content: center;
} 

.delete-plant-div {
  display: flex;
  justify-content: flex-end;
}

/* -------------------- Modal -------------------- */

.open-modal-button {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: white;
  background-color: rgb(194, 77, 64);
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
  margin-top: 20px;
  opacity: 0.95;
}

.open-modal-button:hover {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: #FBF7D6;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.modal-message {
  font-family: 'Work Sans', sans-serif;
  font-size: 24pt;
  font-weight: bold;
  color: #0a6334;
  text-align: center;
  margin: 50px 20px;
}

.modal-x {
  width: 30px;
  background-color: #FBF7D6;
  border: none;
  align-self: flex-end;
}

.x-button {
  background-color: #FBF7D6;
  width: 32px;
  border: none;
  padding: 0;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 25px;
}

.delete-button {
  margin-bottom: 30px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}










/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
